<!-- seccion Sobre Mi -->
<head>
    <link rel="stylesheet" type="text/css" href="sobremi.component.css">
</head>
<body>
<section class="seccion-sobremi active" id="SobreMi">
    <div class="sobremi">
        <div class="sobremi-img-container">
            <img src="sobremiimg.jpg" class="sobremi-img" alt="">
            <a class="descargar-cv-btn" href="assets/CVSofíaRodríguezCuggia.pdf" download="CV Sofia Rodriguez Cuggia"> descargar CV </a>
        </div>
        <p class="sobremi-info"> Mi nombre es Sofía Rodríguez Cuggia. Soy periodista deportiva, escritora, jugadora de fútbol y programadora. 
            Nací en Salta Capital pero actualmente estoy viviendo en una residencia universitaria en Recoleta (Ciudad de Buenos Aires).
            Tengo 23 años. 
            Soy autora del cuento "Todo es lucha" del libro Pelota de Papel 3.
            Participé en la Feria Internacional del Libro de Buenos Aires 2019 y en diversas entrevistas en clubes, radios y programas de televisión importantes y en medios independientes autogestionados.
            Jugué al fútbol en Central Norte de Salta, pre selección Argentina Sub 17, selección de Salta sub 17, Club Atlético Platense y en el Club Atlético All Boys.
            El año pasado empecé a estudiar programación en Argentina Programa y este es mi proyecto final en donde aplico todo lo aprendido. Actualmente trabajo de camarera en la empresa Mezcla Eventos. </p>   
    </div>
    
    <!-- seccion skills -->
    <div class="seccion-skill">
    <h1 class="heading"> skills </h1>
    <div class="skills-container">
         <div class="skill-card">
             <img src="html.png" class="skill-img" alt=" ">
            <div class="skill-level">95%</div>
            <h1 class="skill-name">HTML</h1>
            <p class="skill-info">con ganas de llegar al 100%</p>
         </div>
         <div class="skill-card">
              <img src="css.png" class="skill-img" alt=" ">
              <div class="skill-level">90%</div>
              <h1 class="skill-name">CSS</h1>
              <p class="skill-info">el que más me cuesta, sigo aprendiendo</p>
         </div>
         <div class="skill-card">
               <img src="js.png" class="skill-img" alt=" ">
               <div class="skill-level">95%</div>
                <h1 class="skill-name">JS</h1>
                <p class="skill-info">con ganas de llegar al 100%</p>
         </div>
    </div>
    </div>

    <!--linea de tiempo-->
    <div class="lineadetiempo">
        <h1 class="heading">Educación y experiencia</h1>
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">2004-2016</h1>
                <p class="card-detail">Titulo Primario y Secundario (Bachiller en Ciencias NATURALES).
                    Colegio Parroquial San Alfonso N°8088 (Salta capital). </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">2017-2019</h1>
                <p class="card-detail"> Titulo Periodismo Deportivo. Escuela de Periodismo TEA Y DEPORTEA (Ciudad de Buenos Aires)</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">2021-2022</h1>
                <p class="card-detail">Curso de Programación "Argentina Programa" del Ministerio de Desarrollo Productivo
                    y la Cámara Argentina de la Industria de Software (CESSI). </p>
            </div>
        </div>
    </div>

</section>
</body>