<!--seccion contacto-->
<head> 
    <link rel="stylesheet" type="text/css" href="contacto.component.css">  
</head>
<body> 
<section class="seccion-contacto" id="Contacto">
    <form class="contact-form" [formGroup]="contactForm" (ngSubmit)="onSaveForm()">
        <input type="text" formControlName="nombre" autocomplete="off" placeholder="nombre">
        <div class="alert-danger" *ngIf="nombre?.invalid && (nombre?.dirty || nombre?.touched)"> 
           <div class="class container-error-message">
               Campo obligatorio.
           </div> 
        </div>
        <input type="text" formControlName="mail" autocomplete="off" placeholder="mail">
        <div class="alert-danger" *ngIf="mail?.invalid && (mail?.dirty || mail?.touched)"> 
            <div class="class container-error-message">
                Campo obligatorio.
            </div> 
            <div class="class container-error-message" *ngIf="(mail?.dirty || mail?.touched) && mail?.invalid && mail?.hasError('pattern')">
                Tiene que ser un mail válido.
            </div>
         </div>
        <textarea formControlName="mensaje" placeholder="mensaje" autocomplete="off"></textarea>
        <div class="alert-danger" *ngIf="mensaje?.invalid && (mensaje?.dirty || mensaje?.touched)"> 
            <div class="class container-error-message">
                Campo obligatorio.
            </div> 
         </div>
        <button type="submit" class="form-submit-btn">contacto</button>
    </form>
 <!--map-->
 <div class="map">
     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d210146.6817005901!2d-58.57338729079909!3d-34.615743684330035!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca3b4ef90cbd%3A0xa0b3812e88e88e87!2sBuenos%20Aires%2C%20CABA!5e0!3m2!1ses!2sar!4v1641345355195!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen=" " loading="lazy"></iframe>
 </div>
</section>

<script src="app.js"> </script>
</body>